#title {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 100%;
  height: 63px;
  padding-top: 1ex;
  padding-left: 160px;
  background-image: url(images/airt_logo.png);
  background-color: transparent;
  background-position: left-top;
  background-repeat: no-repeat;
  font-size: 120%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-bottom: 1px solid black;
}

#navbar {
  position: absolute;
  left: 160px;
  top: 41px; /* 61 - 2x12 */
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  border-left: 1px solid black;
}

#navbar .navitem {
  border-right: 1px solid black;
  padding-left: 0.5ex;
  padding-right: 0.5ex;
}

#content {
  position: absolute;
  top: 80px; /* 65px + 1px + 14px */
  padding: 1em;
  color: grey;
  width: 100%;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F0F8FF;
}

#content h2 {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: italic;
}

#content h3 {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#details-overview-header {
    border-bottom: 1px solid black;
}

#details-overview-header td {
    padding-top: 1em;
    border-right: 1px solid black;
}

#details-overview-header td td {
    border-right: 0px;
}

#details-external-ids {
    padding-bottom: 1ex;
    border-bottom: 1px solid black;
}

#details-basic {
    border-bottom: 1px solid black;
}

#details-ip {
    border-bottom: 1px solid black;
}

#details-user {
    padding-bottom: 1ex;
    border-bottom: 1px solid black;
}

#details-history {
    border-bottom: 1px solid black;
}

#details-overview-body {
    border-bottom: 1px solid black;
}


A {
  color: #0000FF;
  text-decoration: none;
}

A:hover {
  text-decoration: underline;
}

tr.odd {
  background-color: #DDDDDD;
}

tr.even {
  background-color: transparent;
}

.error {
  background-color: #FF0000;
}

.warning {
  background-color: #FFFF00;
}

.unknown {
  background-color: #FFAA00;
}

