
body {
  background-color: #F0F8FF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: #0000FF;
  text-decoration: none;
}

A:hover {
  text-decoration: underline;
}

table{
font: 12px Verdana, Arial, sans-serif;
}

tr.odd {
  background-color: #EEEEEE;
}

tr.even {
  background-color: #FFF;
}

.titlebar {
  height: 63px;
  padding-top: 1ex;
  padding-left: 160px;
  background-image: url(images/airt_logo.png);
  background-position: left-top;
  background-repeat: no-repeat;
  font-size: 22px;
  font-weight: bold;
  border-bottom: 1px solid black;
  background-color: #87CEFA;
}

.messages {
    padding: 3px;
    background-color: yellow;
}

.userinfo {
position: absolute;
top: 0;
right: 0;
    padding: 5px;
    text-align: right;
}

.navbar {
  position: absolute;
  background-color: #87CEFA;
  left: 160px;
  top: 56px;
  font-size: small;
}

.navbar .navitem {
border: 1px solid black;
  padding: 3px 5px;
}

.content {
   padding: 20px 10px 10px 10px;
   font: 12px Verdana, Arial, sans-serif;
}

.content h2 {
  font-size: large;
  font-weight: bold;
  font-style: italic;
}

.content h3 {
  font: bold Verdana, Arial, sans-serif;
}

.details-overview-header {
    border-bottom: 1px solid black;
}

.details-overview-header td {
    padding-top: 1em;
    border-right: 1px solid black;
}

.details-overview-header td td {
    border-right: 0px;
}

.details-external-ids {
    padding-bottom: 1ex;
    border-bottom: 1px solid black;
}

.details-basic {
    border-bottom: 1px solid black;
}

.details-ip {
    border-bottom: 1px solid black;
}

.details-user {
    padding-bottom: 1ex;
    border-bottom: 1px solid black;
}

.details-history {
    border-bottom: 1px solid black;
}

.details-overview-body {
    border-bottom: 1px solid black;
}


.error {
  background-color: #FF0000;
}

.warning {
  background-color: #FFFF00;
}

.unknown {
  background-color: #FFAA00;
}

#mbox-container {
  width: 100%;
  float: left;
  margin-right: -215px;
}

#mbox-sidebar {
  width: 205px;
  float: right;
}

#mbox-content {
  margin-right: 215px;
  margin-left: 0px;
  border-right: 1px dotted black;
  border-left: 1px dotted black;
  border-top: 1px dotted black;
}

.mailbox {
    borderCollapse: "collapse";
    border-spacing: 0px;
}

.mailbox th {
    border-bottom: 1px grey dotted;
    text-align: center;
}

.mailbox td {
    border-bottom: 1px grey dotted;
    text-align: left;
}

mailbox .check {
    border-right: 1px grey dotted;
    padding-right: 0.5em;
}

.mailbox .subject {
    border-left: 1px grey dotted;
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: 50em;
}

.mailbox .sender {
    border-left: 1px grey dotted;
    padding-right: 0.5em;
    padding-left: 0.5em;
    color: 35em;
}

.mailbox .sender A {
    color: grey;
}

.mailbox .subject A {
    color: grey;
}

.mailbox .date {
    border-left: 1px grey dotted;
    padding-left: 0.5em;
    width: 19em;
}

.mailbox .status {
    border-left: 1px grey dotted;
    padding-left: 0.5em;
    width: 8em;
}

.mailbox .date A {
    color: grey;
}

.mail-body {
    border-top: 1px grey dotted;
    border-bottom: 1px grey dotted;
    padding-top: 1.5ex;
    padding-bottom: 1.5ex;
}

.mail-headers table {
    border-spacing: 0px;
}

.mailbox .unread {
   font-weight: bold;
}

.mail-headers .mail-header-name {
    font-weight: bold;
}

.mail-headers .mail-header-content {
    padding-left: 0.5em;
}

