/*div{
border: 1px solid red;
}*/

body {
	margin: 0;
	padding: 0;
	background-color: #87CEFA;
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	line-height: 1em;
}

a img{
border: 0;
}

#wrapper{
	width: 970px;
	margin: 0 auto;
	text-align: left; 
}

#footer{
	width: 970px;
	margin: 0 auto;
	text-align: center;
	color: #FFF;
	font: 11px Arial, Verdana, sans-serif;
}

#footer a{
color: #FFF;
text-decoration: underline;
}

a{
color: #0000EE;
text-decoration: underline;
}


table{
border-collapse: collapse;
empty-cells: show;
font: 12px Verdana, Arial, Helvetica, sans-serif;
}

table th{
text-align: left;
}

table th, table td{
vertical-align: top;
}

table input{
margin: 0;
}

#header {
	margin-top: 10px;
	background: #87CEFA url(airt_logo.png) no-repeat top left;
	border-bottom: 1px solid black;
	height: 80px;
}

#header #logo{
float: left;
margin-right: 10px;
}

#header .left{
float: left;
width: 600px;
}

#header h2{
	margin: 0;
	padding: 0;
	height: 27px;
	font: bold 22px Arial, Verdana, sans-serif;
}

#header h4{
font: bold 12px Arial, sans-serif;
margin:0;
height: 15px;
}

#header .right{
float: right;
text-align: right;
width: 250px;
}

#header .right #userinfo{
float: right;
margin-bottom: 5px;
}

#header .right form{
margin: 0;
padding: 5px 0;
}

#navigation{
margin-top: 5px;
float: left;
}

#navigation a{
	display: inline-block;
	background-color: #E0E8EF;
	border: 1px solid black;
	padding: 7px 9px;
	color: #AAAAAA;
	text-decoration: none;
	font: 18px Arial;
	line-height: 1em;
}

#navigation a.settings{
	margin: 0;
	padding: 0 0 8px 10px;
	border: 0;
	background: none;
	color: #00E;
	font: normal 12px Arial, Verdana, sans-serif;
}

#navigation a.active{
color: #000;
	background-color: #F0F8FF;
  border-bottom: 0;
  padding-bottom: 8px;
}

.messages{
    padding: 10px;
    background-color: #EF8A4D;
	border: 1px solid #E78347;
	margin-bottom: 10px;
}
#submenu{
padding: 10px 20px;
width: 928px;
border: 1px solid #000;
border-width: 0 1px;
  background-color: #F0F8FF;
}

#submenu a{
font: 14px Arial;
margin: 0px 10px;
}

#submenu a.active{
font-weight: bold;
}

.content{
	margin: 0;
	padding: 0 10px 10px 10px;
	width: 948px;
	font: 12px Verdana, Arial, sans-serif;
	border: 1px solid #000;
	border-top: 0;
	background-color: #F0F8FF;
}

h1{
	margin: 0 0 10px 0;
	font: bold 22px Arial;
}

.content h3 {
	font: bold Verdana, Arial, sans-serif;
}

.left{
float: left;
clear: left;
text-align: left;
width: 450px;
display: inline;
}

.right{
float: right;
clear: right;
text-align: right;
}

.right a.button{
background-color: #FFF;
padding: 5px 10px;
text-decoration: none;
font: 12px Arial, Verdana, sans-serif;
color: #000;

}

.details-external-ids{
display: none;
}

#incident-details{
clear: both;
width: 100%;
}

.column{
	width: 50%;
	float: left;
	
}

.block, .details-external-ids, .details-mails, .details_attachments, .details-basic, .details-ip, .details-user, .details-history {
    background-color: #E0E8EF;
	padding: 10px;
	margin: 0 10px 10px 0;	
}

.block h3, .details-external-ids h3, .details-mails h3, .details_attachments h3, .details-basic h3, .details-ip h3, .details-user h3, .details-history h3 {
margin: 0 0 10px 0;
font: bold 16px Arial, sans-serif;
}

.block table.horizontal{
border: 1px solid #AAA;
}


#history .item{
padding-left: 10px;
}

#history .item .date{
font-size:  10px;
margin-left: -10px;
color: #AAA;
}


/********************
Details overview header depricated?
********************/
.details-overview-header {
    border-bottom: 1px solid black;
}

.details-overview-header td {
    padding-top: 5px;
    border-right: 1px solid black;
}

.details-overview-header td td {
    border-right: 0px;
}


#details-overview-body{ /*temporary style, should be removed from final version*/

width: 100%;
clear: both;
}

table.horizontal{
width: 100%;
clear: both;
margin: 10px 0;
}

.horizontal small{ /* temp */
display: none;
}

.horizontal td, table.horizontal th{
    border-bottom: 1px solid #E0E8EF;
	padding: 4px;
}

table.horizontal th{
background-color: #E0E8EF;
}


.error {
  background-color: #FF0000;
}

.warning {
  background-color: #FFFF00;
}

.unknown {
  background-color: #FFAA00;
}

#mbox-container {
  width: 100%;
  float: left;
  margin-right: -215px;
}

#mbox-sidebar {
  width: 205px;
  float: right;
}

.prevnext {
   position: absolute;
   width: 205px;
   right: 0;
   bottom: 0;
}

#mbox-content {
  margin-right: 215px;
  margin-left: 0px;
  border-right: 1px dotted black;
  border-left: 1px dotted black;
  border-top: 1px dotted black;
}

.mailbox {
    borderCollapse: "collapse";
    border-spacing: 0px;
}

.mailbox th {
    border-bottom: 1px grey dotted;
    text-align: center;
}

.mailbox td {
    border-bottom: 1px grey dotted;
    text-align: left;
}

mailbox .check {
    border-right: 1px grey dotted;
    padding-right: 0.5em;
}

.mailbox .subject {
    border-left: 1px grey dotted;
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: 50em;
}

.mailbox .sender {
    border-left: 1px grey dotted;
    padding-right: 0.5em;
    padding-left: 0.5em;
    color: 35em;
}

.mailbox .sender A {
    color: grey;
}

.mailbox .subject A {
    color: grey;
}

.mailbox .date {
    border-left: 1px grey dotted;
    padding-left: 0.5em;
    width: 19em;
}

.mailbox .status {
    border-left: 1px grey dotted;
    padding-left: 0.5em;
    width: 8em;
}

.mailbox .date A {
    color: grey;
}

.mail-body {
    border-top: 1px grey dotted;
    border-bottom: 1px grey dotted;
    padding-top: 1.5ex;
    padding-bottom: 1.5ex;
}

.mail-headers table {
    border-spacing: 0px;
}

.mailbox .unread {
   font-weight: bold;
}

.mail-headers .mail-header-name {
    font-weight: bold;
}

.mail-headers .mail-header-content {
    padding-left: 0.5em;
}

/*****************************************************************
 * login screen
 *****************************************************************/

 #login-wrapper{
	width: 500px;
	margin: 50px auto 10px auto;
	padding: 20px;
	text-align: center; 
	background-color: #F0F8FF;
}

#login-wrapper h1{
display: block;
margin: 10px 0 0 0;
float: none;
clear: none;
}

#login-wrapper h4{
margin: 0px 0 15px 0;
}

#login-wrapper p{
margin: 20px 0;
}

#login-wrapper form{
text-align: center;
}

#login-wrapper table{
text-align: left;
margin: 0 auto;
}


/*****************************************************************
 * tools menu
 *****************************************************************/


#tools ul li span{
display: block;
padding: 5px;
}


#tools{
width:200px;
float:right;
text-align: left;
background-color: #F0F8FF;
margin-right: 3px;
}

#tools a{
display:block;
white-space:nowrap;
margin:0;
padding:5px 9px;
background:#F0F8FF;
text-decoration:none;
border-bottom: 1px solid #AAAAAA;
}

#tools a, #tools a:visited{
color:#000;
}

#tools a:hover{
color:#000;
background:#ddd;
}

#tools a:active{
color:#060;
background:#ccc;
}

#tools ul{
list-style:none;
margin:0;
padding:0;
float:left;
width: 200px;
}

#tools li{
position:relative;
}

#tools ul ul{
position:absolute;
z-index:500;
top:auto;
display:none;
border: 1px solid #CCC;
border-bottom: 0;
}

#tools ul ul ul{
top:0;
left:100%;
}

/* Begin non-anchor hover selectors */

/* Enter the more specific element (div) selector
on non-anchor hovers for IE5.x to comply with the
older version of csshover.htc - V1.21.041022. It
improves IE's performance speed to use the older
file and this method */

div#tools li:hover{
cursor:pointer;
z-index:100;
}

#tools li:hover ul ul,
div#tools li li:hover ul ul,
div#tools li li li:hover ul ul,
div#tools li li li li:hover ul ul
{display:none;}

div#tools li:hover ul,
div#tools li li:hover ul,
div#tools li li li:hover ul,
div#tools li li li li:hover ul
{display:block;}

/* End of non-anchor hover selectors */

/* Styling for Expand */

#tools a.x, #tools a.x:visited{
font-weight:bold;
color:#000;
background:#eee url(/css/images/expand3.gif) no-repeat 100% 100%;
}

#tools a.x:hover{
color:#a00;
background:#ddd;
}

#tools a.x:active{
color:#060;
background:#ccc;
}


textarea{
font: 11px courier new, courier, sans-serif;
}

textarea.logging{
width: 436px;
padding: 0px;
height: 300px;
}