<?php
/*
  vim:syntax=php
  AIRT: APPLICATION FOR INCIDENT RESPONSE TEAMS
  Copyright (C) 2004  Kees Leune <kees@uvt.nl>

  This program is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 2 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program; if not, write to the Free Software
  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
  
  customfunctions.plib - User defined functions. Most contain 
  - function custom_categorize($ip, $defaultcategory); 
        returns the category identifier
  - function search_info($ip, $hostname, $consituency); prints additional
    information about hostname
  - function custom_default_addressrole($ip); returns a default addressrole 
    for the given ip address

  $Id$
 */
require_once LIBDIR.'/database.plib';
require_once LIBDIR.'/user.plib';

registerEventHandler('pageHeader', 'showheader');
registerEventHandler('pageFooter', 'showfooter');
registerEventHandler('searchoutput','searchoutput');

function showheader($data) {
  $userid = fetchFrom('SESSION', 'userid');
  if (empty($userid) || ($u = getUserByUserId($_SESSION['userid'])) === false) {
      $name = _('Unknown');
  } else {
      $name = $u['firstname'].' '.$u['lastname'];
  }

  $username = strip_tags(fetchFrom('SESSION', 'username'));
  defaultTo($username,'Not logged in');

  $messages = '';
  if (isset($_SESSION['msg'])) {
     $messages = $_SESSION['msg'];
     unset($_SESSION['msg']);
  }

  echo '<div class="titlebar">'.LF;

  echo '<div class="titlepanel">'.LF;
  echo '<div class="title">'.LF;
  echo 'Application for Incident Response Teams'.LF;
  echo '</div><!-- title -->'.LF;

  echo '<div class="subtitle">'.LF;
  echo INSTANCE_NAME;
  echo '</div><!-- subtitle -->'.LF;
  echo '</div><!-- titlepanel -->'.LF;

  echo '<div class="userpanel">';
  echo _('Logged in as ').htmlentities($name);
  echo t(' (<a href="%url">%label</a>)', array(
     '%url'=>BASEURL.'/logout.php',
     '%label'=>_('Logout')
  ));
  echo '</div><!-- userpanel -->'.LF;

  echo '</div><!-- titlebar -->'.LF;
  if ($messages != '') {
    echo '<div class="messages">'.strip_tags($messages).'</div>'.LF;
  }
}

function showfooter($data) {
  echo <<<EOF
</div>
</body>
</html>
EOF;
}

function searchoutput($data) {
}
?>
