<?php
/*
  vim:syntax=php
  AIRT: APPLICATION FOR INCIDENT RESPONSE TEAMS
  Copyright (C) 2004  Kees Leune <kees@uvt.nl>

  This program is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 2 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program; if not, write to the Free Software
  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
  
  customfunctions.plib - User defined functions. Most contain 
  - function custom_categorize($ip, $defaultcategory); 
        returns the category identifier
  - function search_info($ip, $hostname, $consituency); prints additional
    information about hostname
  - function custom_default_addressrole($ip); returns a default addressrole 
    for the given ip address

  $Id$
 */
require_once LIBDIR.'/database.plib';
require_once LIBDIR.'/user.plib';

registerEventHandler('pageHeader', 'showheader');
registerEventHandler('pageFooter', 'showfooter');
registerEventHandler('searchoutput','searchoutput');

function showheader($data) {
  $navbar='';
  $res = db_query(q("
      SELECT url, label
      FROM   urls
      WHERE  NOT navbar_position IS NULL
      ORDER BY navbar_position"))
  or die("Unable to query database.");

  while ($row = db_fetch_next($res)) {
    $url = $row['url'];
    $description = $row['label'];
    $navbar .= t("<span class=\"navitem\"><a href=\"%url\">%description</a></span>".LF, array(
      '%url'=>$url, 
      '%description'=>$description));
  }

  $baseurl=BASEURL;
  $userid = fetchFrom('SESSION', 'userid');
  if (empty($userid) || ($u = getUserByUserId($_SESSION['userid'])) === false) {
      $name = _('Unknown');
  } else {
      $name = $u['firstname'].' '.$u['lastname'];
  }

  echo <<<EOF
<html>
<head>
<title>AIRT: $data[title]</title>
<LINK HREF="$baseurl/airt-style.css" REL="stylesheet" TYPE="text/css">
<script language="JavaScript">
function checkKeys(event) {
  document.status = 'Key pressed'+event.which;
}

</script>
</head>

<body onKey="checkKeys()">
<div class="title">$data[title]</div>
<div class="userinfo">$name ($_SESSION[username])</div>
<div class="navbar">$navbar</div>
<div class="content">
EOF;
}

function showfooter($data) {
    $VERSION=AIRT_VERSION;
  echo <<<EOF
</div>
<div class="footer">
AIRT version $VERSION &copy; 2007
</div>
</body>
</html>
EOF;
}

function searchoutput($data) {
}
?>
